# IDE
.idea/
.vscode/
.qtcreator/
.qtc/
.qtc_clangd/

# Build
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
compile_commands.json
Makefile
*.ninja
.ninja_deps
.ninja_log
*_autogen/

# Binary / Library
*.exe
*.out
*.app
*.dll
*.so
*.so.*
*.a
*.lib
*.o
*.obj

# Logs
*.log

# OS
.DS_Store
Thumbs.db
